body{
    background-color: black;
    font-family: "Handjet", sans-serif;
}

#img1{
    width: 400px;
    height: auto;
    margin-left: 600px;
    margin-top: 50px;
}
h1{
    color: white;
}
strong{
    color: white;
}
#div1{
    text-align: center;
}
#div2{
    margin-top: 50px;
    margin-left: 600px;
}

button{
    color: darkgray;
    background-color: black;
}